<h1>Pig Latin Translator</h1>
<form action="/translation" method="POST">

	<label for="sentence">Message to translate (please include proper punctuation):</label>
	<input id="sentence" type="text" name="sentence">

<button type="submit" value="submit">Translate!</button>