<div class="heading">
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="title.js"></script>
  <script>
    var initialIds = <%= @initial_ids %>;
    var resultIds = <%= @result_ids %>;
  </script>
  <script src="animation.js"></script>
</div>

<div class="outerform">
  <div class="myform">
    <div class="yo">
    </div>
    <div class="results">
      <a class="home buttonz" href="/">Home</a>
    </div>
  </div>
</div>