<div class="heading">
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="title.js"></script>
</div>

<div class="outerform">
  <div class="myform">
    <div class="results">
      <p><b>Sentence:</b> <%= @sentence %></p>
      <p><b>Translation:</b> <%= @message %></p>
      <p><a class="home buttonz" href="/">Home</a>
    </div>
  </div>
</div>