@import url(http://fonts.googleapis.com/css?family=Montserrat);

body {
  color: hotpink;
  background: #9ADAF9;
  font-family: monospace;
}

text {
  font: bold 48px monospace;
}

.enter {
  fill: hotpink;
}

.update {
  fill: hotpink;
}

.exit {
  fill: #f391c4;
}

.heading {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 450px;
}

.outerform {
  text-align: center;
}

.myform {
  display: inline-block;
  position: relative;
  height: 80px;
  text-align: center;
}

.results {
  font-size: 2em;
}

.buttonz {
  position: absolute;
  display: inline-block;
  background-color: #f17ab8;
  color: white;
  width: 90px;
  height: 40px;
  border-radius: 5px;
  box-shadow: none;
  border: none;
  font-size: 1em;
}

.whitebox {
  position: absolute;
  display: block;
  width: 350px;
  height: 40px;
  margin: 0 auto;
  display: block;
}

.buttonz:hover{
  background-color: hotpink;
}

.translate {
  right: 0px;
}

.home {

}

a:visited {
  text-decoration:none;
  color: white;
}


a:hover {
  text-decoration:none;
  color: white;
}

a:active {text-decoration:none;}